<link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
<h1>Code template replacements will be made using the following properties</h1>
<!-- 
-->
<table class="table">  
        <thead>  
          <tr>  
            <th>Key</th>  
            <th>Value</th>  
          </tr>  
        </thead>  
        <tbody>  
<tr><td>authorName</td><td><%= datasource.authorName %></td></tr>  
<tr><td>workspaceFolder</td><td><%= datasource.workspaceFolder %></td></tr>  
<tr><td>deployIpAddress</td><td><%= datasource.deployIpAddress %></td></tr>
<tr><td>serverHome</td><td><%= datasource.serverHome %></td></tr>
<tr><td>devHome</td><td><%= datasource.devHome %></td></tr>
<tr><td>dateFieldSource</td><td><%= datasource.dateFieldSource %></td></tr>  
<tr><td>targetDataType</td><td><%= datasource.targetDataType %></td></tr>  
<tr><td>uniqueName</td><td><%= datasource.uniqueName %></td></tr>  
<tr><td>etlDropFolder</td><td><%= datasource.etlDropFolder %></td></tr>  
<tr><td>isArchived</td><td><%= datasource.isArchived %></td></tr>  
<tr><td>schemaData</td><td><%= datasource.schemaData %></td></tr>  
<tr><td>exampleInputFile</td><td><%= datasource.exampleInputFile %></td></tr>  
<tr><td>hasMd5</td><td><%= datasource.hasMd5 %></td></tr>  
<tr><td>otherPartitions</td><td><%= datasource.otherPartitions %></td></tr>  
<tr><td>recordValidation</td><td><%= datasource.recordValidation %></td></tr>  
<tr><td>tableName</td><td><%= datasource.tableName %></td></tr>  
<tr><td>hiveDb</td><td><%= datasource.hiveDb %></td></tr>  
<tr><td>hdfsDir</td><td><%= datasource.hdfsDir %></td></tr>  
<tr><td>pastedColHeads</td><td><%= datasource.pastedColHeads %></td></tr>  
<tr><td>colHeadDelimiter</td><td><%= datasource.colHeadDelimiter %></td></tr>  
<tr><td>dataDelimiter</td><td><%= datasource.dataDelimiter %></td></tr>  
<tr><td>schemaFile</td><td><%= datasource.schemaFile %></td></tr>  
<tr><td>colHeadFileName</td><td><%= datasource.colHeadFileName %></td></tr>  
<tr><td>dataInputFileName</td><td><%= datasource.dataInputFileName %></td></tr>  
<tr><td>className</td><td><%= datasource.className %></td></tr>  
<tr><td>packageName</td><td><%= datasource.packageName %></td></tr>  

        </tbody>  
      </table>  