<h1>You would be generating with the following values</h1>
<!-- 
-->
<span class="help-block"><strong>authorName </strong>is <%= datasource.authorName %></span>
<span class="help-block"><strong>dateFieldSource </strong>is <%= datasource.dateFieldSource %></span>
<span class="help-block"><strong>targetDataType </strong>is <%= datasource.targetDataType %></span>
<span class="help-block"><strong>uniqueName </strong>is <%= datasource.uniqueName %></span>
<span class="help-block"><strong>etlDropFolder </strong>is <%= datasource.etlDropFolder %></span>
<span class="help-block"><strong>workspaceFolder </strong>is <%= datasource.workspaceFolder %></span>
<span class="help-block"><strong>isArchived </strong>is <%= datasource.isArchived %></span>
<span class="help-block"><strong>schemaData </strong>is <%= datasource.schemaData %></span>
<span class="help-block"><strong>exampleInputFile </strong>is <%= datasource.exampleInputFile %></span>
<span class="help-block"><strong>hasMd5 </strong>is <%= datasource.hasMd5 %></span>
<span class="help-block"><strong>otherPartitions </strong>is <%= datasource.otherPartitions %></span>
<span class="help-block"><strong>recordValidation </strong>is <%= datasource.recordValidation %></span>
<span class="help-block"><strong>tableName </strong>is <%= datasource.tableName %></span>
<span class="help-block"><strong>hiveDb </strong>is <%= datasource.hiveDb %></span>
<span class="help-block"><strong>hdfsDir </strong>is <%= datasource.hdfsDir %></span>
<span class="help-block"><strong>pastedColHeads </strong>is <%= datasource.pastedColHeads %></span>
<span class="help-block"><strong>colHeadDelimiter </strong>is <%= datasource.colHeadDelimiter %></span>
<span class="help-block"><strong>dataDelimiter </strong>is <%= datasource.dataDelimiter %></span>
<span class="help-block"><strong>schemaFile </strong>is <%= datasource.schemaFile %></span>
<span class="help-block"><strong>colHeadFileName </strong>is <%= datasource.colHeadFileName %></span>
<span class="help-block"><strong>dataInputFileName </strong>is <%= datasource.dataInputFileName %></span>
<span class="help-block"><strong>pastedColHeads </strong>is <%= datasource.pastedColHeads %></span>
<span class="help-block"><strong>pastedColHeads </strong>is <%= datasource.pastedColHeads %></span>
<span class="help-block"><strong>pastedColHeads </strong>is <%= datasource.pastedColHeads %></span>
<span class="help-block"><strong>pastedColHeads </strong>is <%= datasource.pastedColHeads %></span>
